@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

//universal styling

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --backgroundColor: white;

  //text colors
  --headingColorLight: #1f8fff;
  --textColorLight: white;
  --textColorDark: black;

  //card/block colors
  --hoverColor: #6699cc;
  --cardColor: #003366;
  --buttonColor: #003366;
  --secondaryColor: #008080;

  //padding
  --SmallPadding: 1.5rem;
  --MediumPadding: 3rem;

  //font sizes
  --smallFontSize: 1rem;
  --mediumFontSize: 1.5rem;
  --largeFontSize: 1.7rem;
  --iconFontSize: 4rem;

  --navbarMargin: 80px;

  --DarkTransparentBackground: rgba(0, 0, 0, 0.1);
  --LightTransparentBackground: rgba(0, 0, 0, 0.3);

  --SmoothTransition: background-color 0.3s ease, width 0.3s ease;
  --SmoothTextTransition: color 0.3s ease, width 0.3s ease;
  --RoundBorder: 0.3rem;
  --HeaderSize: 2rem;
  --ParagraphFontSize: 1em;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin p-styling {
  font-size: var(--smallFontSize);
  color: var(--textColorLight);
  line-height: 1.6;
  padding: var(--SmallPadding);
}

@mixin sub-header-styling {
  font-size: var(--mediumFontSize);
  color: var(--headingColorLight);
  padding: var(--SmallPadding);
}

@mixin main-header-styling {
  font-size: var(--largeFontSize);
  color: var(--headingColorLight);
  padding: var(--SmallPadding);
}

@mixin button-styling {
  border: solid 1px white;
  background-color: var(--buttonColor);
  &:hover {
    background-color: var(--hoverColor);
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--backgroundColor);
}

a {
  text-decoration: none;
}

icon {
  cursor: pointer;
}

.button-block {
  padding: 10px 20px;
  font-size: var(--smallFontSize);
  border: none;
  background-color: var(--buttonColor);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--hoverColor);
  }
}

//components

.navbar-component {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: var(--SmallPadding);
  background-color: var(--DarkTransparentBackground);
  backdrop-filter: blur(20px);
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    a {
      list-style: none;
      cursor: pointer;
      margin: 10px;
      transition: var(--SmoothTransition);
      &:hover {
        color: var(--hoverColor);
      }

      &:visited {
        color: white;
        transition: var(--SmoothTransition);
        &:hover {
          color: var(--hoverColor);
        }
      }
    }
  }

  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    a {
      margin: 0;
    }
  }

  .navbar-headings {
    @include flexCenter;
    font-size: var(--smallFontSize);

    li {
      padding: 0 5px;
      list-style-type: none;
      position: relative;

      a {
        text-decoration: none;
        position: relative;
        color: white;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0;
          height: 2px;
          transition: width 0.5s ease, background-color 0.5s ease;
        }

        &:hover::after,
        &.active::after {
          width: 100%;
          background-color: var(--headingColorLight);
        }
      }

      &.active a::after {
        width: 100%;
        background-color: var(--headingColorLight);
      }
    }
  }

  .navbar-contact {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .contact-bubble {
      cursor: pointer;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      border-radius: 10px;
      background-color: var(--buttonColor);
      color: white;
      transition: var(--SmoothTransition);

      &.phone-bubble {
        width: 8.6rem;
      }

      &:hover {
        background: var(--hoverColor);
      }
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: var(--mediumFontSize);
    z-index: 1000;
    color: white;
    transition: color 0.9 ease;

    &:hover {
      color: var(--hoverColor);
    }
  }

  .hidden {
    display: none;
  }

  .mobile-menu {
    @media (min-width: 768px) {
      display: none;
    }
    @media (max-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      @include flexCenter;
      flex-direction: column;

      font-size: xx-large;
      list-style: none;
      z-index: 999;

      background-image: url("/src/assets/clean-house.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--LightTransparentBackground);
        z-index: -1;
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-headings {
      display: none;
    }

    .navbar-left {
      justify-content: flex-start;
    }

    .navbar-contact {
      flex: initial;
      justify-content: center;
      padding-right: var(--SmallPadding);
    }

    .hamburger-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.contact-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .quote-form-container {
    flex: 1;
    width: 100%;
    height: auto;
    padding: var(--SmallPadding);
    background-color: var(--LightTransparentBackground);
    border: 1px solid #ddd;
    border-radius: 5px;

    h1 {
      @include main-header-styling;
      color: var(--backgroundColor);
      text-align: center;
    }

    .quote-form {
      width: 100%;
      display: flex;
      flex-direction: column;

      .form-group {
        padding: 0.5rem;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 0.3rem;
        }

        input,
        textarea {
          width: 100%;
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 3px;
        }

        textarea {
          height: 5rem;
        }
      }

      .submit-button {
        background-color: var(--buttonColor);
        color: white;
        border: none;
        border-radius: 3px;
        padding: 10px;
        cursor: pointer;
        transition: var(--SmoothTransition);

        &:hover {
          background-color: var(--hoverColor);
        }
      }
    }
  }
}

.footer-component {
  background-color: #f7f7f7;
  padding: var(--MediumPadding) 0;

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--SmallPadding);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .footer-info {
      flex: 1;
      h1 {
        margin-bottom: var(--SmallPadding);
        font-size: var(--smallFontSize);
      }
      .contact-list {
        list-style: none;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          svg {
            margin-right: 10px;
          }
        }
      }
    }

    .footer-socials {
      flex: 1;
      h1 {
        margin-bottom: 15px;
        font-size: var(--smallFontSize);
      }
      .social-icons {
        display: flex;
        align-items: center;
        .fa-icon {
          font-size: var(--mediumFontSize);
          margin-right: 20px;
          color: #333;
          transition: color 0.3s ease;
          &:hover {
            color: var(--hoverColor);
          }
        }
      }
    }
  }

  //Residental || Commercial || Roof and Gutter

  .footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: var(--smallFontSize);
    color: #888;
    svg {
      margin-right: 5px;
    }
  }

  footer {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 200px;
    .footer-copyright {
      width: 100%;
    }
  }
}

.back-to-top {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 100px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  @include flexCenter;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 9999;

  &.visible {
    opacity: 1;
  }

  i {
    font-size: 24px;
    align-self: center;
  }

  &:hover {
    background-color: #0056b3;
    transition: var(--SmoothTransition);
  }
}

//pages

.FAQ-page {
  background-color: var(--headingColorLight);
  padding: var(--SmallPadding);
  flex: 1;
  height: 100%;
  border-radius: var(--RoundBorder);

  .faq-header {
    text-align: center;
  }

  .faq-header h1 {
    @include main-header-styling;
    color: var(--backgroundColor);
  }

  .faq-list {
    display: flex;
    flex-direction: column;
    gap: var(--SmallPadding);

    .faq-item {
      padding: 1rem;
      border-bottom: 1px solid black;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      h1 {
        font-size: 1.3rem;
      }

      p {
        font-size: 16px;
        color: #555;
      }

      .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .faq-icon {
        font-size: 50px;
        color: #555;
        cursor: pointer;
        transition: transform 0.5s ease;

        &.plus {
          transform: rotate(0deg);
        }
        &.minus {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.home-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .heading-section {
    height: 100vh;
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    text-align: center;
    color: var(--textColorLight);
    background-color: var(--LightTransparentBackground);
    padding: var(--SmallPadding);

    .heading-introduction p {
      min-width: 250px;
      max-width: 800px;
      @include p-styling;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .heading-introduction h1 {
      @include main-header-styling;
      color: white;
      min-width: 200px;
      max-width: 600px;
      margin: 0 auto;
    }

    .mission-section {
      width: 100%;
      @include flexCenter;
      align-items: baseline;
      flex-wrap: wrap;
      padding: var(--MediumPadding);
    }

    .mission-section h1 {
      padding-right: 0.5rem;
    }

    .brief-overview {
      width: 100%;
      display: flex;
      padding: var(--SmallPadding);
      align-items: center;
      height: 20%;
      gap: var(--SmallPadding);
    }

    .brief-overview h1 {
      @include flexCenter;
      @include sub-header-styling;
      color: white;
      background-color: var(--LightTransparentBackground);
      height: 100%;
      flex: 1;
    }
  }

  .services-section {
    height: 100%;
    padding: var(--SmallPadding);
    background-color: var(--backgroundColor);
    @include flexCenter;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    h1 {
      @include flexCenter;
      @include main-header-styling;
      padding-top: 0;
    }

    .service-container {
      height: 100%;

      @include flexCenter;
      flex-direction: column;

      .service-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: var(--SmallPadding);

        .service-grid-card {
          @include flexCenter;
          flex-direction: column;
          text-align: center;
          cursor: pointer;
          background-color: var(--cardColor);
          color: white;
          border-radius: var(--RoundBorder);
          padding: var(--SmallPadding);
          transition: var(--SmoothTransition);
          .service-icon {
            font-size: var(--iconFontSize);
            margin-bottom: 0.5rem;
          }
          .service-details h1 {
            @include sub-header-styling;
            color: white;
          }
          .service-details p {
            @include p-styling;
          }
          .service-buttons {
            display: flex;
            flex-direction: column;
          }
          .service-buttons button {
            border: solid 1px white;
            background-color: var(--buttonColor);
            &:hover:first-child,
            &:hover:last-child {
              background-color: var(--hoverColor);
            }
          }
          &:hover {
            background-color: var(--hoverColor);
          }
        }
      }
    }
  }

  .introduction-section {
    height: 100%;
    padding: var(--SmallPadding);
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--backgroundColor);

    .content-block {
      height: auto;
      display: flex;
      gap: var(--SmallPadding);
      flex-wrap: wrap-reverse;

      .text {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 500px;
        padding: var(--SmallPadding);
        border-radius: var(--RoundBorder);
        h1 {
          @include main-header-styling;
        }
        p {
          @include p-styling;
          color: black;
        }
        button {
          align-self: center;
          margin: var(--SmallPadding);
        }
      }

      .highlights h1 {
        @include sub-header-styling;
      }
      .highlights ul {
        @include p-styling;
        color: black;
      }

      .who-we-are-images {
        height: auto;
        flex: 1;
        justify-content: space-around;
        display: grid;
        min-width: 500px;
        border-radius: var(--RoundBorder);
        grid-template-columns: repeat(3, minmax(100px, 250px));
        gap: var(--SmallPadding);
        .grid-item img {
          width: 100%;
          height: 100%;
          border-radius: var(--RoundBorder);
          box-shadow: 0 0 10px var(--DarkTransparentBackground);
        }
      }

      .wrapped {
        width: 100%;
        grid-template-columns: repeat(6, minmax(100px, 250px));
      }

      .wrapped-text {
        flex-direction: row;
        .introduction {
          flex: 1;
        }
        .highlights {
          flex: 1;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .work-preview-section {
    height: 100%;
    background-color: var(--backgroundColor);
    padding: var(--SmallPadding);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
      @include main-header-styling;
      text-align: center;
    }

    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .work-preview-container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      display: grid;
      grid-template-columns: repeat(4, minmax(50px, 250px));
      gap: var(--SmallPadding);
      justify-content: space-around;
      padding: var(--SmallPadding);

      video {
        width: 100%;
        min-width: 100%;
        height: auto;
        border-radius: var(--RoundBorder);
        box-shadow: 0 0 10px var(--DarkTransparentBackground);
      }
    }
  }

  .cta-section {
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor);
    height: auto;
    padding: var(--SmallPadding);

    h1 {
      @include main-header-styling;
      text-align: center;
      padding-bottom: var(--MediumPadding);
    }

    .cta-content {
      min-width: 100%;
      width: 100%;
      display: flex;
      gap: var(--SmallPadding);
      flex-wrap: wrap;

      .cta-images {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-template-rows: repeat(2, minmax(200px, 1fr));
        gap: var(--SmallPadding);

        img {
          @include flexCenter;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: var(--RoundBorder);
        }
        img:first-child {
          grid-column: span 2;
          grid-row: span 2;
        }
        img:nth-child(2) {
          grid-column: 3;
          grid-row: 1;
        }
        img:nth-child(3) {
          grid-column: 3;
          grid-row: 2;
        }
      }

      .wrapped {
        grid-template-rows: repeat(1, minmax(200px, 1fr));
        flex-wrap: wrap;
        img:first-child,
        img:nth-child(2),
        img:nth-child(3) {
          grid-column: auto;
          grid-row: auto;
        }
      }

      .cta-form {
        flex: 1;
        min-width: 50%;
        h1 {
          color: var(--backgroundColor);
          padding: 0.5rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .heading-section {
      height: 100%;
      padding-top: var(--navbarMargin);

      .mission-section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      .brief-overview {
        flex-wrap: wrap;
      }
    }

    .services-section {
      height: auto;

      .service-container {
        justify-content: center;
        align-items: center;

        .service-grid-container {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(auto-fit, 1fr);
        }
      }
    }

    .introduction-section {
      height: auto;

      .content-block {
        flex-direction: column-reverse;
        gap: var(--SmallPadding);

        .text {
          justify-content: center;

          width: 100%;
          .learn-more-btn {
            margin-bottom: var(--SmallPadding);
          }
        }

        .who-we-are-images {
          width: 100%;
          grid-template-columns: repeat(2, minmax(50px, 250px));
          .grid-item img {
            width: 100%;
          }
        }
        .cta-form {
          width: 100%;
        }
      }
    }

    .work-preview-section .main-container .work-preview-container {
      grid-template-columns: repeat(2, minmax(50px, 150px));
    }

    .cta-section {
      .cta-content .cta-images {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-template-rows: auto 500px;

        img {
          height: auto;
        }
        img:nth-child(3) {
          height: 100%;
          grid-row: span 1;
          grid-column: span 2;
        }
      }
    }
  }
  @media (max-width: 492px) {
    .services-section .service-container .service-grid-container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto-fit, 1fr);
    }

    .introduction-section .content-block .who-we-are-images {
      grid-template-columns: repeat(1, minmax(50px, 200px));
    }

    .cta-section {
      .cta-content .cta-images {
        grid-template-rows: repeat(3, minmax(200px, 1fr));
        grid-template-columns: repeat(1, minmax(200px, 1fr));

        img:nth-child(3) {
          grid-column: auto;
          grid-row: auto;
        }
      }
    }
  }
}

.services-page {
  height: 100%;
  width: 100%;
  padding: var(--SmallPadding);
  .services-main {
    width: 100%;
    margin-top: var(--navbarMargin);
    @include flexCenter;
    flex-direction: column;

    h1 {
      width: 100%;
      font-size: var(--largeFontSize);
      border-radius: var(--RoundBorder);
      text-align: center;
      color: var(--headingColorLight);
      padding: var(--SmallPadding);
    }

    .service-grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: var(--SmallPadding);
      background-color: var(--backgroundColor);
      padding: var(--SmallPadding);
      border-radius: var(--RoundBorder);

      .service-grid-card {
        @include flexCenter;
        flex-direction: column;
        cursor: pointer;
        margin-bottom: var(--SmallPadding);
        background-color: var(--cardColor);
        color: var(--textColorLight);
        border-radius: var(--RoundBorder);
        padding: var(--SmallPadding);
        transition: var(--SmoothTransition);
        .service-icon {
          font-size: var(--iconFontSize);
          margin-bottom: 0.5rem;
        }
        .service-details {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          h1 {
            color: var(--headingColorLight);
            font-size: var(--mediumFontSize);
          }
          p {
            margin: 0;
            font-size: var(--smallFontSize);
            opacity: 0.9;
          }
          .service-buttons {
            display: flex;
            flex-direction: column;
            button {
              border: solid 1px white;
              background-color: var(--buttonColor);
              &:hover {
                background-color: var(--hoverColor);
              }
            }
          }

          .benefits-divider {
            width: 80%;
            border-bottom: 1px solid var(--hoverColor);
            margin-top: var(--SmallPadding);
          }

          .service-benefits {
            display: flex;
            flex-direction: column;
            text-align: start;
            margin-top: var(--SmallPadding);
            gap: var(--SmallPadding);
            .benefit {
              display: flex;
              strong {
                color: white;
                margin-bottom: 0.25rem;
                display: block;
              }
            }
          }
        }
        &:hover {
          background-color: var(--hoverColor);
        }
      }
      .service-images {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;

        .service-image {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .services-main .service-grid-container {
      height: auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto-fit, 1fr);
    }
  }
  @media (max-width: 492px) {
    .services-main .service-grid-container {
      height: auto;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto-fit, 1fr);
    }
  }
}

.about-page {
  width: 100%;
  height: 100%;
  padding: var(--SmallPadding);
  background-color: var(--backgroundColor);
  .about-main {
    width: 100%;
    margin-top: var(--navbarMargin);
    display: flex;
    flex-direction: column;
    color: var(--textColorLight);
    justify-content: center;

    .hero {
      height: 30vh;
      width: 100%;
      @include flexCenter;
      flex-direction: column;
      background-color: var(--LightTransparentBackground);
    }

    section {
      padding: var(--SmallPadding);
      border-bottom: 1px solid var(--hoverColor);
      h1 {
        margin-bottom: var(--SmallPadding);
      }
    }

    .team-members {
      display: flex;
      justify-content: space-around;
    }
  }
}
