@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

//universal styling

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --HeadingColour: #0074d9;
  --SmallPadding: 1.5rem;
  --MediumPadding: 3rem;
  --DarkTransparentBackground: rgba(0, 0, 0, 0.1);
  --LightTransparentBackground: rgba(0, 0, 0, 0.3);
  --HoverBlue: #0067cb;
  --SmoothTransition: background-color 0.3s ease, width 0.3s ease;
  --SmoothTextTransition: color 0.3s ease, width 0.3s ease;
  --RoundBorder: 0.3rem;
  --HeaderSize: 2rem;
  --ParagraphFontSize: 1em;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

a {
  text-decoration: none;
}

icon {
  cursor: pointer;
}

.content-block {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: var(--SmallPadding);
  .text {
    flex: 1;
    padding: var(--SmallPadding);
    background-color: var(--LightTransparentBackground);
    border-radius: var(--RoundBorder);
    h2 {
      font-size: var(--HeaderSize);
      color: white;
    }
    p {
      margin-top: var(--SmallPadding);
      font-size: 1.1em;
      line-height: 1.6;
      color: white;
    }
  }
}

.button-block {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  background-color: var(--HeadingColour);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #0056b3;
  }
}

//components

.navbar-component {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: var(--SmallPadding);
  background-color: var(--DarkTransparentBackground);
  backdrop-filter: blur(20px);
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    a {
      list-style: none;
      cursor: pointer;
      margin: 10px;
      color: white;
      transition: var(--SmoothTransition);
      &:hover {
        color: var(--HoverBlue);
      }

      &:visited {
        color: white;
        transition: var(--SmoothTransition);
        &:hover {
          color: var(--HoverBlue);
        }
      }
    }
  }

  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    a {
      margin: 0;
    }
  }

  .navbar-headings {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

    li {
      padding: 0 5px;
      list-style-type: none;
      position: relative;

      a {
        text-decoration: none;
        position: relative;
        color: white;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0;
          height: 2px;
          transition: width 0.5s ease, background-color 0.5s ease;
        }

        &:hover::after,
        &.active::after {
          width: 100%;
          background-color: var(--HeadingColour);
        }
      }

      &.active a::after {
        width: 100%;
        background-color: var(--HeadingColour);
      }
    }
  }

  .navbar-contact {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .contact-bubble {
      cursor: pointer;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      border-radius: 10px;
      background-color: var(--HeadingColour);
      color: white;
      transition: var(--SmoothTransition);

      &.phone-bubble {
        width: 8.6rem;
      }

      &:hover {
        background: var(--HoverBlue);
      }
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: var(--SmallPadding);
    z-index: 1000;
    color: white;
    transition: color 0.9 ease;

    &:hover {
      color: var(--HoverBlue);
    }
  }

  .hidden {
    display: none;
  }

  .mobile-menu {
    @media (min-width: 768px) {
      display: none;
    }
    @media (max-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: xx-large;
      list-style: none;
      z-index: 999;

      background-image: url("/src/assets/clean-house.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--LightTransparentBackground);
        z-index: -1;
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-headings {
      display: none;
    }

    .navbar-left {
      justify-content: flex-start;
    }

    .navbar-contact {
      flex: initial;
      justify-content: center;
      padding-right: var(--SmallPadding);
    }

    .hamburger-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.contact-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .quote-form-container {
    width: 100%;
    height: auto;
    padding: var(--SmallPadding);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;

    h2 {
      font-size: var(--HeaderSize);
      padding: 10px;
      text-align: center;
    }

    .quote-form {
      width: 100%;
      display: flex;
      flex-direction: column;

      .form-group {
        margin: 5px;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
        }

        input,
        textarea {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }

        textarea {
          height: 75px;
        }
      }

      .submit-button {
        background-color: var(--HeadingColour);
        color: white;
        border: none;
        border-radius: 3px;
        padding: 10px;
        cursor: pointer;
        transition: var(--SmoothTransition);

        &:hover {
          background-color: var(--HoverBlue);
        }
      }
    }
  }
}

.footer-component {
  background-color: #f7f7f7;
  padding: var(--MediumPadding) 0;

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--SmallPadding);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .footer-info {
      flex: 1;
      h3 {
        margin-bottom: var(--SmallPadding);
        font-size: 1.2rem;
      }
      .contact-list {
        list-style: none;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          svg {
            margin-right: 10px;
          }
        }
      }
    }

    .footer-socials {
      flex: 1;
      h3 {
        margin-bottom: 15px;
        font-size: 1.2rem;
      }
      .social-icons {
        display: flex;
        align-items: center;
        .fa-icon {
          font-size: 24px;
          margin-right: 20px;
          color: #333;
          transition: color 0.3s ease;
          &:hover {
            color: #007bff;
          }
        }
      }
    }
  }

  //Residental || Commercial || Roof and Gutter

  .footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #888;
    svg {
      margin-right: 5px;
    }
  }

  footer {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 200px;
    .footer-copyright {
      width: 100%;
    }
  }
}

//pages

.home-page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .heading-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: var(--LightTransparentBackground);
    padding: 40px 20px;
    border-radius: var(--RoundBorder);

    p {
      min-width: 250px;
      max-width: 800px;
      margin: 0;
    }

    h2 {
      font-size: var(--HeaderSize);
      padding-bottom: 1.3rem;
      min-width: 200px;
      max-width: 500px;
      margin: 0 auto;
    }
  }

  .mission-section {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    padding: 40px 0;

    h3 {
      padding-right: 0.5rem;
    }
    p {
      max-width: 80%;
    }
  }

  .services-section {
    width: calc(100% - 3rem);
    margin-top: var(--SmallPadding);
    border-radius: var(--RoundBorder);

    margin-left: auto;
    margin-right: auto;
    h2 {
      font-size: var(--HeaderSize);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--SmallPadding);
      color: white;
      background-color: var(--LightTransparentBackground);
      margin-bottom: var(--SmallPadding);
    }
    .service-grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 1.5rem;
      .service-grid-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        background-color: var(--HeadingColour);
        color: white;
        border-radius: var(--RoundBorder);
        padding: var(--SmallPadding);
        transition: var(--SmoothTransition);
        .service-icon {
          font-size: 4rem;
          margin-bottom: 0.5rem;
        }
        .service-details {
          h3 {
            margin: 0;
            padding-bottom: 0.75rem;
            font-size: 1.2rem;
            font-weight: bold;
          }
          p {
            margin: 0;
            font-size: 1rem;
            opacity: 0.9;
          }
          .service-buttons {
            display: flex;
            flex-direction: column;
            button {
              border: solid 1px white;
              background-color: var(--HoverBlue);
              &:hover:first-child,
              &:hover:last-child {
                background-color: var(--HeadingColour);
              }
            }
          }
        }
        &:hover {
          background-color: #c83e4d;
        }
      }
    }
  }

  .introduction-section {
    width: 100%;
    padding: var(--SmallPadding);
    .who-we-are-images {
      width: 50%;
      justify-content: center;
      display: grid;
      background-color: var(--LightTransparentBackground);
      padding: var(--SmallPadding);
      border-radius: var(--RoundBorder);
      grid-template-columns: repeat(2, minmax(50px, 250px));
      gap: var(--SmallPadding);
      .grid-item {
        img {
          width: 100%;
          height: auto;
          border-radius: var(--RoundBorder);
          box-shadow: 0 0 10px var(--DarkTransparentBackground);
        }
      }
    }
  }

  .work-preview-section {
    width: 100%;
    padding: var(--SmallPadding);

    h2 {
      font-size: var(--HeaderSize);
      margin-bottom: var(--SmallPadding);
      background-color: var(--LightTransparentBackground);
      padding: var(--SmallPadding);
      text-align: center;
      color: white;
    }

    .work-preview-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
      gap: var(--SmallPadding);
      justify-content: space-around;

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: var(--RoundBorder);
        box-shadow: 0 0 10px var(--DarkTransparentBackground);
      }

      video {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: var(--RoundBorder);
        box-shadow: 0 0 10px var(--DarkTransparentBackground);
      }
    }
  }

  .cta-section {
    width: 100%;
    height: auto;
    padding: var(--SmallPadding);
    .cta-text {
      text-align: center;
      padding: var(--SmallPadding);
      background-color: var(--LightTransparentBackground);
      color: white;
      font-size: 1.5rem;
      margin-bottom: var(--SmallPadding);
    }
    .cta-form {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .services-section .service-grid-container {
      height: auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto-fit, 1fr);
    }

    .mission-section {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .content-block {
      flex-direction: column-reverse;
      gap: var(--SmallPadding);
      .text {
        text-align: center;
        width: 100%;
        .learn-more-btn {
          margin-bottom: var(--SmallPadding);
        }
      }

      .who-we-are-images {
        width: 100%;
        grid-template-columns: repeat(2, minmax(50px, 300px));
        .grid-item {
          img {
            width: 100%;
          }
        }
      }
      .cta-form {
        width: 100%;
      }
    }
  }
  @media (max-width: 492px) {
    .services-section .service-grid-container {
      height: auto;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto-fit, 1fr);
    }
  }
}

.services-page {
  height: 100%;
  width: 100%;
  padding: var(--SmallPadding);
  .services-main {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      width: 100%;
      font-size: var(--HeaderSize);
      text-align: center;
      color: var(--HeadingColour);
      background-color: white;
      padding: var(--SmallPadding);
    }

    .service-list {
      display: flex;
      flex-direction: column;
      align-items: center;

      .service-item {
        position: relative;
        background: white;
        border: 1px solid #ddd;
        margin: 10px 0;
        padding: var(--SmallPadding);
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;

        .arrow-icon {
          position: absolute;
          cursor: pointer;
          font-size: 50px;
          color: white;
        }

        .arrow-icon.left {
          left: 1.5rem;
        }

        .arrow-icon.right {
          right: 50vw;
        }

        .service-item-images {
          display: flex;
          flex: 1;
          width: 100%;
          height: 100%;
          overflow-x: auto;
          align-items: center;
          img {
            max-width: 100%;
            height: 100vh;
          }
          img:last-child {
            margin-right: 0;
          }
        }

        .text {
          flex: 1;
          padding: 0 20px;
          background-color: white;
          h2 {
            color: #007bff;
          }
          p {
            color: #666;
          }
        }
      }
    }
  }
}
