@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

//universal styling

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --backgroundColor: #f4f4f4;

  //text colors
  --headingColorLight: rgb(23, 139, 246);
  --textColorLight: white;
  --textColorDark: black;

  //card/block colors
  --hoverColor: #178bf6;
  --cardColor: #003366;
  --buttonColor: #003366;
  --secondaryColor: #008080;

  //padding
  --halfSmallPadding: 0.75rem;
  --SmallPadding: 1.5rem;
  --MediumPadding: 3rem;
  --LargePadding: 4.5rem;

  //font sizes
  --smallFontSize: 1.1rem;
  --mediumFontSize: 1.8rem;
  --largeFontSize: 2.5rem;
  --iconFontSize: 8rem;
  --smallerIconSize: 4rem;

  --navbarMargin: 80px;

  --DarkTransparentBackground: rgba(0, 0, 0, 0.2);
  --LightTransparentBackground: rgba(0, 0, 0, 0.3);

  --SmoothTransition: background-color 0.3s ease, width 0.3s ease;
  --SmoothTextTransition: color 0.3s ease, width 0.3s ease;
  --RoundBorder: 0.3rem;
  --HeaderSize: 2rem;
  --ParagraphFontSize: 1em;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin p-styling {
  font-size: var(--smallFontSize);
  line-height: 1.6;
  padding: var(--SmallPadding);
}

@mixin sub-header-styling {
  font-size: var(--mediumFontSize);
  padding: var(--SmallPadding);
}

@mixin main-header-styling {
  font-size: var(--largeFontSize);
  padding: var(--SmallPadding);
}

@mixin button-styling {
  border: solid 1px white;
  background-color: var(--buttonColor);
  &:hover {
    background-color: var(--hoverColor);
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--backgroundColor);
}

a {
  text-decoration: none;
}

icon {
  cursor: pointer;
}

.button-block {
  width: 250px;
  padding: var(--halfSmallPadding);
  font-size: var(--smallFontSize);
  background-color: white;
  color: var(--headingColorLight);
  border: 3px solid var(--headingColorLight);
  border-radius: 5px;
  cursor: pointer;
  transition: var(--SmoothTransition);
  &:hover {
    background-color: var(--hoverColor);
    color: white;
  }
}

//components

.navbar-component {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: var(--SmallPadding);
  background-color: var(--DarkTransparentBackground);
  backdrop-filter: blur(20px);
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    a {
      list-style: none;
      cursor: pointer;
      margin: 10px;
      transition: var(--SmoothTransition);
      &:hover {
        color: var(--hoverColor);
      }

      &:visited {
        color: white;
        transition: var(--SmoothTransition);
        &:hover {
          color: var(--hoverColor);
        }
      }
    }
  }

  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    a {
      margin: 0;
    }
  }

  .navbar-headings {
    @include flexCenter;
    font-size: var(--smallFontSize);

    li {
      padding: 0 5px;
      list-style-type: none;
      position: relative;

      a {
        text-decoration: none;
        position: relative;
        color: white;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0;
          height: 2px;
          transition: width 0.5s ease, background-color 0.5s ease;
        }

        &:hover::after,
        &.active::after {
          width: 100%;
          background-color: var(--headingColorLight);
        }
      }

      &.active a::after {
        width: 100%;
        background-color: var(--headingColorLight);
      }
    }
  }

  .navbar-contact {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .contact-bubble {
      cursor: pointer;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      border-radius: 10px;
      background-color: var(--buttonColor);
      color: white;
      transition: var(--SmoothTransition);

      &.phone-bubble {
        width: 8.6rem;
      }

      &:hover {
        background: var(--hoverColor);
      }
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: var(--mediumFontSize);
    z-index: 1000;
    color: white;
    transition: color 0.9 ease;

    &:hover {
      color: var(--hoverColor);
    }
  }

  .hidden {
    display: none;
  }

  .mobile-menu {
    @media (min-width: 768px) {
      display: none;
    }
    @media (max-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      @include flexCenter;
      flex-direction: column;

      font-size: xx-large;
      list-style: none;
      z-index: 999;

      background-image: url("/src/assets/clean-house.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--LightTransparentBackground);
        z-index: -1;
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-headings {
      display: none;
    }

    .navbar-left {
      justify-content: flex-start;
    }

    .navbar-contact {
      flex: initial;
      justify-content: center;
      padding-right: var(--SmallPadding);
    }

    .hamburger-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.contact-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .quote-form-container {
    flex: 1;
    width: 100%;
    height: auto;
    padding: var(--MediumPadding);
    background: linear-gradient(125deg, rgba(31, 143, 255, 1), rgb(0, 85, 104));
    border-radius: 5px;
  }

  .quote-form-container h1 {
    color: var(--backgroundColor);
    font-size: 2rem;
    text-align: center;
  }

  .quote-form-container .quote-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .quote-form-container .quote-form .form-group {
    padding: 0.5rem 0;
  }

  .quote-form-container .quote-form .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3rem;
  }

  .quote-form-container .quote-form .form-group input,
  .quote-form-container .quote-form .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 3rem;
  }

  .quote-form-container .quote-form .form-group input::placeholder,
  .quote-form-container .quote-form .form-group textarea::placeholder {
    font-size: 1rem;
  }

  .quote-form-container .quote-form .form-group textarea {
    height: 8rem;
  }

  .quote-form-container .quote-form .submit-button {
    width: 100%;
    background-color: white;
    color: var(--headingColorLight);
    border: 3px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    transition: var(--SmoothTransition);
    font-size: 1rem;

    &:hover {
      background-color: var(--hoverColor);
      color: white;
    }
  }
}

.footer-component {
  background-color: white;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--SmallPadding);
  }
  .footer-content h3 {
    padding: var(--halfSmallPadding);
  }
  .footer-content .footer-logo img {
    height: 200px;
  }
  .footer-content .contact-list {
    display: flex;
    flex-wrap: wrap;
    padding: var(--SmallPadding);
  }
  .footer-content .contact-list .fa-icon {
    color: var(--headingColorLight);
    margin: 0 var(--halfSmallPadding);
  }
  .footer-content .contact-list .location-phone {
    display: flex;
  }
  .footer-content .contact-list .location-phone {
    justify-content: space-between;
  }
  .footer-content .contact-list li {
    display: flex;
    transition: color 0.3s ease;
    cursor: pointer;
    &:hover {
      color: var(--headingColorLight);
    }
  }

  .footer-content .footer-socials {
    display: flex;
    flex-direction: column;
  }
  .footer-content .footer-socials h3 {
    display: flex;
    justify-content: center;
  }
  .footer-content .footer-socials .social-icons .fa-icon {
    font-size: var(--mediumFontSize);
    margin: 0 var(--halfSmallPadding);

    color: #333;
    transition: color 0.3s ease;
    &:hover {
      color: var(--headingColorLight);
    }
  }
  .footer-copyright {
    height: 50px;
    background-color: var(--backgroundColor);
    padding: var(--SmallPadding);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 768px) {
    .footer-content .contact-list {
      flex-direction: column;
    }
    .footer-content .contact-list li {
      padding: var(--halfSmallPadding);
    }
  }
}

.back-to-top {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 100px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  @include flexCenter;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 9999;

  &.visible {
    opacity: 1;
  }

  i {
    font-size: 24px;
    align-self: center;
  }

  &:hover {
    background-color: #0056b3;
    transition: var(--SmoothTransition);
  }
}

//pages

.FAQ-page {
  background-color: var(--headingColorLight);
  padding: var(--SmallPadding);
  flex: 1;
  height: 100%;
  border-radius: var(--RoundBorder);

  .faq-header {
    text-align: center;
  }

  .faq-header h1 {
    @include main-header-styling;
    color: var(--backgroundColor);
  }

  .faq-list {
    display: flex;
    flex-direction: column;
    gap: var(--SmallPadding);

    .faq-item {
      padding: 1rem;
      border-bottom: 1px solid black;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      h1 {
        font-size: 1.3rem;
      }

      p {
        font-size: 16px;
        color: #555;
      }

      .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .faq-icon {
        font-size: 50px;
        color: #555;
        cursor: pointer;
        transition: transform 0.5s ease;

        &.plus {
          transform: rotate(0deg);
        }
        &.minus {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.home-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .heading-section {
    .main-container {
      height: 100%;
      width: 100%;
      @include flexCenter;

      flex-wrap: wrap;
      color: var(--textColorLight);
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 10%,
        rgba(0, 0, 0, 0.1)
      );
      padding: var(--LargePadding);
    }

    .main-container .heading-section-left {
      padding-top: 3rem;
      min-width: 500px;
      flex: 1;
    }

    .main-container .heading-section-right {
      padding-top: 3rem;
      min-width: 500px;
      flex: 1;
    }

    .main-container .heading-section-left .heading-introduction p {
      @include p-styling;
      color: black;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .main-container .heading-section-left .heading-introduction h1 {
      @include main-header-styling;
      color: black;
      font-size: 2.75rem;
      margin: 0 auto;
    }

    .main-container .heading-section-left .heading-introduction .highlight {
      color: var(--headingColorLight);
    }
  }

  .services-section {
    height: 100%;
    padding: var(--LargePadding);
    background-color: var(--backgroundColor);
    @include flexCenter;
    padding-top: 0;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    .service-container {
      height: 100%;
      @include flexCenter;
      flex-direction: column;
    }

    .service-container h1 {
      @include flexCenter;
      @include main-header-styling;
      padding: var(--LargePadding);
      padding-bottom: 0;
      color: var(--headingColorLight);
    }

    .service-container p {
      max-width: 1000px;
      @include p-styling;
      padding: var(--MediumPadding);
      padding-bottom: var(--MediumPadding);
    }

    .service-container .service-grid-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: var(--SmallPadding);
    }

    .service-container .service-grid-container .service-grid-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: center;
      cursor: pointer;
      background-color: white;
      border-radius: var(--RoundBorder);
      padding: var(--SmallPadding);
      transition: var(--SmoothTransition);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .service-container
      .service-grid-container
      .service-grid-card
      .service-icon {
      font-size: var(--iconFontSize);
      color: var(--headingColorLight);
    }
    .service-container
      .service-grid-container
      .service-grid-card
      .service-details {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .service-container
      .service-grid-container
      .service-grid-card
      .service-details
      h2 {
      font-size: var(--mediumFontSize);
    }
    .service-container
      .service-grid-container
      .service-grid-card
      .service-details
      .service-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: var(--SmallPadding);
      gap: var(--SmallPadding);
    }
  }

  .introduction-section {
    height: 100%;
    padding: var(--LargePadding);
    display: flex;
    align-items: center;
    background-color: white;
    .content-container .content-block {
      height: auto;
      display: flex;
      gap: var(--SmallPadding);
      flex-wrap: wrap-reverse;
    }
    .content-container .content-block .text {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: var(--SmallPadding) var(--SmallPadding) var(--MediumPadding)
        var(--SmallPadding);
      border-radius: var(--RoundBorder);
    }
    .content-container .content-block .text h2 {
      @include sub-header-styling;
      color: var(--headingColorLight);
      padding: 0;
    }
    .content-container .content-block .text .introduction p {
      @include p-styling;
      padding-bottom: var(--MediumPadding);
    }
    .content-container .content-block .text .highlights ul {
      @include p-styling;
      padding-bottom: var(--MediumPadding);
    }
    .content-container .content-block .text button {
      align-self: center;
    }
    .content-container .content-block .who-we-are-images {
      height: auto;
      flex: 1;
      justify-content: space-around;
      display: grid;
      min-width: 500px;
      border-radius: var(--RoundBorder);
      grid-template-columns: repeat(3, minmax(100px, 250px));
      gap: var(--SmallPadding);
    }
    .content-container .content-block .who-we-are-images .grid-item img {
      width: 100%;
      height: 100%;
      border-radius: var(--RoundBorder);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .content-container .content-block .who-we-are-images .wrapped {
      width: 100%;
      grid-template-columns: repeat(6, minmax(100px, 250px));
    }
    .content-container .content-block .text .wrapped-text {
      flex-direction: row;
    }
    .content-container .content-block .text .wrapped-text .introduction {
      flex: 1;
    }
    .content-container .content-block .text .wrapped-text .highlights {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  .steps-section {
    height: 100%;
    background-color: var(--backgroundColor);
    padding: var(--LargePadding);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .main-container h1 {
      @include main-header-styling;
      padding-top: 0;
      text-align: center;
      color: var(--headingColorLight);
    }

    .main-container p {
      @include p-styling;
      padding-top: 0;
      padding-bottom: var(--MediumPadding);
      text-align: center;
    }

    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .main-container .steps-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: var(--SmallPadding);
    }

    .main-container .steps-container .step {
      position: relative;
      flex: 1;
      padding: var(--LargePadding) var(--MediumPadding);
      padding-top: var(--SmallPadding);
      background-color: white;
      border-radius: var(--RoundBorder);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    .main-container .steps-container .step .step-number {
      position: absolute;
      top: -14px;
      left: 50%;
      transform: translateX(-50%);
      font-size: var(--smallFontSize);
      font-weight: 700;
      background-color: var(--headingColorLight);
      color: white;
      border-radius: 50px;
      padding: 0.5rem 1.5rem;
    }

    .main-container .steps-container .step icon {
      font-size: var(--smallerIconSize);
      padding: var(--SmallPadding);
      display: inline-block;
    }

    .main-container .steps-container h2 {
      color: var(--headingColorLight);
      padding-bottom: var(--halfSmallPadding);
    }

    .main-container .steps-container p {
      @include p-styling;
      padding: 0 0 var(--SmallPadding) 0;
    }

    .main-container .steps-container .step .step-spacer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .main-container .steps-container .step button {
      display: flex;
      justify-content: center;
    }
  }

  .work-preview-section {
    .main-container {
      background-color: white;
      width: 100%;
      padding: var(--LargePadding);
    }

    .main-container h1 {
      @include main-header-styling;
      padding: var(--LargePadding);
      padding-top: 0;
      padding-bottom: var(--SmallPadding);
      text-align: center;
      color: var(--headingColorLight);
    }

    .main-container p {
      @include p-styling;
      text-align: center;
      padding: var(--MediumPadding);
      padding-top: 0;
    }

    .main-container .work-preview-container {
      height: 100%;
      width: 100%;
      @include flexCenter;
      flex-wrap: wrap;
      gap: var(--SmallPadding);
    }

    .main-container .work-preview-container video {
      height: 500px;
      border-radius: var(--RoundBorder);
      box-shadow: 0 0 10px var(--DarkTransparentBackground);
    }
  }

  .cta-section {
    .main-container {
      width: 100%;
      display: flex;
      background-color: rgb(23, 139, 246, 0.6);
      padding: var(--LargePadding);
      gap: var(--SmallPadding);
    }

    .main-container .cta-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-evenly;
      flex: 1;
    }

    .main-container .cta-text h1 {
      @include main-header-styling;
      padding: 0;
      color: white;
    }

    .main-container .cta-text .cta-header p {
      @include p-styling;
      color: white;
      padding: var(--halfSmallPadding) 0;
      width: 500px;
    }

    .main-container .cta-text .cta-contact {
      display: flex;
      flex-direction: column;
      gap: var(--SmallPadding);
    }

    .main-container .cta-text .cta-contact li {
      color: white;
      list-style: none;
      display: flex;
      align-items: center;
      gap: var(--SmallPadding);
    }

    .main-container .cta-text .cta-contact .fa-icon {
      font-size: var(--MediumPadding);
    }

    .main-container .cta-text .cta-contact li:nth-of-type(1) .fa-icon,
    .main-container .cta-text .cta-contact li:nth-of-type(3) .fa-icon {
      transition: color 0.3s ease;
      cursor: pointer;
      &:hover {
        color: var(--headingColorLight);
      }
    }

    .main-container .cta-text .cta-contact li:nth-of-type(1) h2,
    .main-container .cta-text .cta-contact li:nth-of-type(3) h2 {
      transition: text-shadow 0.3s ease;
      cursor: pointer;
      &:hover {
        text-shadow: 2px 2px 0 var(--headingColorLight),
          -2px -2px 0 var(--headingColorLight), -2px 2px 0 var(--headingColorLight),
          2px -2px 0 var(--headingColorLight);
      }
    }

    // .main-container .cta-content {
    //   min-width: 100%;
    //   width: 100%;
    //   display: flex;
    //   gap: var(--SmallPadding);
    // }
    // .main-container .cta-content.wrapped {
    //   flex-wrap: wrap;
    // }
    // .main-container .cta-content .cta-images {
    //   flex: 1;
    //   display: grid;
    //   grid-template-columns: repeat(3, minmax(100px, 1fr));
    //   grid-template-rows: repeat(2, minmax(200px, 1fr));
    //   gap: var(--SmallPadding);
    // }
    // .main-container .cta-content .cta-images img {
    //   @include flexCenter;
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    //   border-radius: var(--RoundBorder);
    // }
    // .main-container .cta-content .cta-images img:nth-child(1) {
    //   grid-column: span 2;
    //   grid-row: span 2;
    // }
    // .main-container .cta-content .cta-images img:nth-child(2) {
    //   grid-column: 3;
    //   grid-row: 1;
    // }
    // .main-container .cta-content .cta-images img:nth-child(3) {
    //   grid-column: 3;
    //   grid-row: 2;
    // }
    // .main-container .cta-content .cta-images.wrapped {
    //   grid-template-rows: repeat(1, minmax(200px, 1fr));
    //   grid-template-columns: repeat(3, minmax(150px, 1fr));
    // }
    // .main-container .cta-content .cta-images.wrapped img:nth-child(1),
    // .main-container .cta-content .cta-images.wrapped img:nth-child(2),
    // .main-container .cta-content .cta-images.wrapped img:nth-child(3) {
    //   grid-column: auto;
    //   grid-row: auto;
    // }

    .main-container .cta-form {
      flex: 1;
      min-width: 50%;
      color: white;
    }

    .main-container .cta-form .contact-component .quote-form-container {
      background: none;
      background-color: white;
    }

    .main-container .cta-form h1 {
      padding-bottom: var(--halfSmallPadding);
    }

    .main-container .cta-form h1,
    .main-container .cta-form label {
      color: var(--headingColorLight);
    }

    .main-container .cta-form .submit-button {
      border: 3px solid var(--headingColorLight);
    }
  }

  @media (max-width: 768px) {
    .heading-section .main-container .heading-section-right,
    .heading-section .main-container .heading-section-left {
      min-width: 400px;
    }

    .introduction-section .content-container .content-block .text {
      min-width: initial;
    }

    .introduction-section .content-container .content-block .text {
      display: flex;
      flex-direction: column;
    }

    .introduction-section .content-container .content-block {
      gap: 0;
    }

    .introduction-section .content-container .content-block .who-we-are-images {
      min-width: 400px;
      grid-template-columns: repeat(auto-fit, minmax(50px, 250px));
    }

    .cta-section .main-container .cta-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .cta-section .main-container .cta-content .cta-images {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .cta-section .main-container .cta-content .cta-images img:nth-child(1),
    .cta-section .main-container .cta-content .cta-images img:nth-child(2),
    .cta-section .main-container .cta-content .cta-images img:nth-child(3) {
      grid-column: auto;
      grid-row: auto;
    }
  }

  @media (max-width: 492px) {
    .introduction-section .content-container .content-block .text {
      min-width: initial;
    }

    .introduction-section .content-container .content-block .who-we-are-images {
      grid-template-columns: repeat(1, minmax(50px, 200px));
    }

    .cta-section .main-container .cta-content .cta-images.wrapped {
      grid-template-rows: repeat(3, minmax(200px, 1fr));
      grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
    .cta-section .main-container .cta-content .cta-images.wrapped img {
      grid-column: auto;
      grid-row: auto;
    }
  }
}

.services-page {
  height: 100%;
  width: 100%;
  padding: var(--SmallPadding);
  .services-main {
    width: 100%;
    margin-top: var(--navbarMargin);
    @include flexCenter;
    flex-direction: column;

    h1 {
      width: 100%;
      font-size: var(--largeFontSize);
      border-radius: var(--RoundBorder);
      text-align: center;
      color: var(--headingColorLight);
      padding: var(--SmallPadding);
    }

    .service-grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: var(--SmallPadding);
      background-color: var(--backgroundColor);
      padding: var(--SmallPadding);
      border-radius: var(--RoundBorder);

      .service-grid-card {
        @include flexCenter;
        flex-direction: column;
        cursor: pointer;
        margin-bottom: var(--SmallPadding);
        background-color: var(--cardColor);
        color: var(--textColorLight);
        border-radius: var(--RoundBorder);
        padding: var(--SmallPadding);
        transition: var(--SmoothTransition);
        .service-icon {
          font-size: var(--iconFontSize);
          margin-bottom: 0.5rem;
        }
        .service-details {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          h1 {
            color: var(--headingColorLight);
            font-size: var(--mediumFontSize);
          }
          p {
            margin: 0;
            font-size: var(--smallFontSize);
            opacity: 0.9;
          }
          .service-buttons {
            display: flex;
            flex-direction: column;
            button {
              border: solid 1px white;
              background-color: var(--buttonColor);
              &:hover {
                background-color: var(--hoverColor);
              }
            }
          }

          .benefits-divider {
            width: 80%;
            border-bottom: 1px solid var(--hoverColor);
            margin-top: var(--SmallPadding);
          }
        }
        &:hover {
          background-color: var(--hoverColor);
        }
      }
      .service-images {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;

        .service-image {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .services-main .service-grid-container {
      height: auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto-fit, 1fr);
    }
  }
  @media (max-width: 492px) {
    .services-main .service-grid-container {
      height: auto;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto-fit, 1fr);
    }
  }
}

.about-page {
  width: 100%;
  height: 100%;
  padding: var(--SmallPadding);
  background-color: var(--backgroundColor);
  .about-main {
    width: 100%;
    margin-top: var(--navbarMargin);
    display: flex;
    flex-direction: column;
    color: var(--textColorLight);
    justify-content: center;

    .hero {
      height: 30vh;
      width: 100%;
      @include flexCenter;
      flex-direction: column;
      background-color: var(--LightTransparentBackground);
    }

    section {
      padding: var(--SmallPadding);
      border-bottom: 1px solid var(--hoverColor);
      h1 {
        margin-bottom: var(--SmallPadding);
      }
    }

    .team-members {
      display: flex;
      justify-content: space-around;
    }
  }
}
