@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --backgroundColor: #f4f4f4;
  --headingColorLight: rgb(23, 139, 246);
  --textColorLight: white;
  --textColorDark: black;
  --hoverColor: #178bf6;
  --backgroundTransparentBlue: rgba(0, 0, 0, 0.6);
  --backgroundTransparentWhite: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 10%,
    rgba(0, 0, 0, 0.1)
  );
  --backgroundTransparentWhiteAndBlue: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 10%,
    rgb(23, 139, 246, 0.6)
  );
  --halfSmallPadding: 0.75rem;
  --SmallPadding: 1.5rem;
  --MediumPadding: 3rem;
  --LargePadding: 4.5rem;
  --mobile-font-size: 1rem;
  --mobile-h3-size: 1.2rem;
  --mobile-h2-size: 1.6rem;
  --mobile-h1-size: 2rem;
  --smallestFontSize: 1.1rem;
  --smallFontSize: 1.4rem;
  --mediumFontSize: 1.8rem;
  --largeFontSize: 2.5rem;
  --extraLargeFontSize: 3.5rem;
  --iconFontSize: 8rem;
  --mediumIconSize: 6rem;
  --smallerIconSize: 4rem;
  --navbarMargin: 80px;
  --DarkTransparentBackground: rgba(0, 0, 0, 0.2);
  --LightTransparentBackground: rgba(138, 138, 138, 0.6);
  --SmoothTransition: background-color 0.3s ease, width 0.3s ease;
  --SmoothTextTransition: color 0.3s ease, width 0.3s ease;
  --RoundBorder: 0.3rem;
  --HeaderSize: 2rem;
  --ParagraphFontSize: 1em;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--backgroundColor);
}

a {
  text-decoration: none;
}

icon {
  cursor: pointer;
}

p {
  font-size: var(--smallestFontSize);
}
@media (max-width: 492px) {
  p {
    font-size: var(--mobile-font-size);
  }
}

h3 {
  font-size: var(--smallFontSize);
  font-weight: 500;
}
@media (max-width: 492px) {
  h3 {
    font-size: var(--mobile-h3-size);
  }
}

h2 {
  font-size: var(--mediumFontSize);
}
@media (max-width: 492px) {
  h2 {
    font-size: var(--mobile-h2-size);
  }
}

h1 {
  font-size: var(--largeFontSize);
}
@media (max-width: 492px) {
  h1 {
    font-size: var(--mobile-h1-size);
  }
}

.blurhash-logo {
  width: 443px;
  height: 250px;
  border-radius: 25%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .blurhash-logo {
    width: 343px;
    height: 200px;
  }
}
@media (max-width: 498px) {
  .blurhash-logo {
    width: 250px;
    height: 200px;
  }
}

.button-block {
  width: 250px;
  padding: var(--halfSmallPadding);
  font-size: var(--smallestFontSize);
  background-color: white;
  color: var(--headingColorLight);
  border: 3px solid var(--headingColorLight);
  border-radius: 5px;
  cursor: pointer;
  transition: var(--SmoothTransition);
}
.button-block:hover {
  background-color: var(--hoverColor);
  color: white;
}

.modal-main {
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.modal-main div {
  display: flex;
  flex-direction: column;
  gap: var(--halfSmallPadding);
  background-color: white;
  padding: 20px;
  border-radius: var(--RoundBorder);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: var(--SmallPadding);
}
.modal-main h2 {
  overflow-wrap: break-word;
}
.modal-main .call-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--halfSmallPadding);
  flex-wrap: wrap;
}
.modal-main button {
  font-size: var(--smallestFontSize);
  padding: var(--halfSmallPadding);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  background-color: #f0f0f0;
  color: black;
  border: 2px solid #4caf50;
}
.modal-main button:hover {
  color: white;
  background-color: #4caf50;
}
.modal-main button:last-child {
  background-color: #f0f0f0;
  color: black;
  border: 2px solid #f44336;
}
.modal-main button:last-child:hover {
  color: white;
  background-color: #f44336;
}
.modal-main .modal-email button {
  flex: 1;
}

.background-style {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.navbar-component {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: var(--SmallPadding);
  background-color: var(--DarkTransparentBackground);
  backdrop-filter: blur(20px);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-component li a,
.navbar-component h2 a {
  list-style: none;
  cursor: pointer;
  transition: var(--SmoothTransition);
}
.navbar-component li a:hover,
.navbar-component h2 a:hover {
  color: var(--hoverColor);
}
.navbar-component li a:visited,
.navbar-component h2 a:visited {
  color: white;
  transition: var(--SmoothTransition);
}
.navbar-component li a:visited:hover,
.navbar-component h2 a:visited:hover {
  color: var(--hoverColor);
}
.navbar-component .navbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  z-index: 9999;
}
.navbar-component .navbar-left.alt {
  color: black;
}
.navbar-component .navbar-left.alt:hover {
  color: var(--headingColorLight);
}
.navbar-component .navbar-headings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--SmallPadding);
  font-size: var(--smallestFontSize);
}
.navbar-component .navbar-headings li {
  padding: 0 5px;
  list-style-type: none;
  position: relative;
}
.navbar-component .navbar-headings li a {
  text-decoration: none;
  position: relative;
  color: white;
}
.navbar-component .navbar-headings li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.navbar-component .navbar-headings li a:hover::after, .navbar-component .navbar-headings li a.active::after {
  width: 100%;
  background-color: var(--headingColorLight);
}
.navbar-component .navbar-headings li.active a::after {
  width: 100%;
  background-color: var(--headingColorLight);
}
.navbar-component .navbar-contact {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar-component .navbar-contact .contact-bubble {
  cursor: pointer;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: white;
  color: var(--headingColorLight);
  transition: var(--SmoothTransition);
}
.navbar-component .navbar-contact .contact-bubble.phone-bubble {
  width: 8.6rem;
}
.navbar-component .navbar-contact .contact-bubble:hover {
  background: var(--headingColorLight);
  color: white;
}
.navbar-component .hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: var(--mediumFontSize);
  color: white;
  z-index: 9999;
}
.navbar-component .hamburger-menu:hover {
  color: var(--headingColorLight);
}
.navbar-component .hamburger-menu .faTimes {
  color: black;
}
.navbar-component .hamburger-menu .faTimes:hover {
  color: var(--headingColorLight);
}
.navbar-component .hidden {
  display: none;
}
.navbar-component .mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--SmallPadding);
  flex-direction: column;
  position: absolute;
  padding: var(--MediumPadding);
  list-style: none;
  height: auto;
  width: 100%;
  left: 0;
  top: -400%;
  background-color: white;
  z-index: 1000;
  transition: top 0.2s ease;
}
.navbar-component .mobile-menu li {
  padding: 0 5px;
  list-style-type: none;
  position: relative;
}
.navbar-component .mobile-menu li a {
  text-decoration: none;
  position: relative;
  color: black;
}
.navbar-component .mobile-menu li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.navbar-component .mobile-menu li a:hover::after, .navbar-component .mobile-menu li a.active::after {
  width: 100%;
  background-color: var(--headingColorLight);
}
.navbar-component .mobile-menu li.active a::after {
  width: 100%;
  background-color: var(--headingColorLight);
}
.navbar-component .mobile-menu.show {
  top: 0;
}
@media (max-width: 768px) {
  .navbar-component .navbar-headings {
    display: none;
  }
  .navbar-component .navbar-left {
    justify-content: flex-start;
    flex: none;
  }
  .navbar-component .navbar-contact {
    flex: 1;
    gap: var(--SmallPadding);
    padding: 0 var(--SmallPadding);
  }
  .navbar-component .hamburger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.contact-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contact-component .quote-form-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: var(--MediumPadding);
  background-color: white;
  border-radius: var(--RoundBorder);
}
.contact-component .quote-form-container div {
  display: flex;
  flex-direction: column;
  gap: var(--SmallPadding);
}
.contact-component .quote-form-container .submission-message {
  color: var(--headingColorLight);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-component .quote-form-container h1 {
  text-align: center;
  color: var(--headingColorLight);
}
.contact-component .quote-form-container div .quote-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--halfSmallPadding);
}
.contact-component .quote-form-container .quote-form .form-group {
  display: flex;
  flex-direction: column;
  gap: var(--halfSmallPadding);
}
.contact-component .quote-form-container .quote-form .form-group.double-label {
  flex-direction: row;
  flex-wrap: wrap;
}
.contact-component .quote-form-container .quote-form .form-group.double-label span {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--halfSmallPadding);
  min-width: 135px;
}
.contact-component .quote-form-container .quote-form label {
  display: block;
  font-size: var(--smallestFontSize);
  color: var(--headingColorLight);
}
.contact-component .quote-form-container .quote-form .form-group input,
.contact-component .quote-form-container .quote-form .form-group select,
.contact-component .quote-form-container .quote-form .form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 3rem;
  font-size: var(--smallestFontSize);
}
.contact-component .quote-form-container .quote-form .form-group select {
  cursor: pointer;
}
.contact-component .quote-form-container .quote-form .form-group input::placeholder,
.contact-component .quote-form-container .quote-form .form-group textarea::placeholder {
  font-size: var(--smallestFontSize);
}
.contact-component .quote-form-container .quote-form .form-group textarea {
  height: 6rem;
}
.contact-component .quote-form-container .quote-form button {
  width: 100%;
  background-color: white;
  color: var(--headingColorLight);
  border-radius: 3px;
  border: 2px solid var(--headingColorLight);
  padding: 20px;
  cursor: pointer;
  transition: var(--SmoothTransition);
  font-size: var(--smallestFontSize);
  margin-top: var(--halfSmallPadding);
}
.contact-component .quote-form-container .quote-form button:hover {
  background-color: var(--hoverColor);
  color: white;
}
@media (max-width: 492px) {
  .contact-component .quote-form-container {
    padding: var(--SmallPadding);
  }
}

.footer-component {
  background-color: white;
}
.footer-component .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--SmallPadding);
}
.footer-component .footer-content h3 {
  padding: var(--halfSmallPadding);
}
.footer-component .footer-content .footer-logo {
  width: 443px;
  min-width: 443px;
  display: flex;
  justify-content: center;
}
.footer-component .footer-content .footer-logo img {
  width: 100%;
}
.footer-component .footer-content .contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--SmallPadding);
  gap: var(--SmallPadding);
}
.footer-component .footer-content .contact-list .fa-icon {
  color: var(--headingColorLight);
}
.footer-component .footer-content .contact-list .location-phone {
  display: flex;
}
.footer-component .footer-content .contact-list .location-phone {
  justify-content: space-between;
}
.footer-component .footer-content .contact-list li {
  display: flex;
  text-align: center;
  transition: color 0.3s ease;
  cursor: pointer;
  gap: var(--halfSmallPadding);
}
.footer-component .footer-content .contact-list li:hover {
  color: var(--headingColorLight);
}
.footer-component .footer-content .footer-socials {
  display: flex;
  flex-direction: column;
}
.footer-component .footer-content .footer-socials h3 {
  display: flex;
  justify-content: center;
}
.footer-component .footer-content .footer-socials .social-icons .fa-icon {
  font-size: var(--mediumFontSize);
  margin: 0 var(--halfSmallPadding);
  color: #333;
  transition: color 0.3s ease;
}
.footer-component .footer-content .footer-socials .social-icons .fa-icon:hover {
  color: var(--headingColorLight);
}
.footer-component .footer-copyright {
  text-align: center;
  height: auto;
  background-color: var(--backgroundColor);
  padding: var(--SmallPadding) var(--LargePadding);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--halfSmallPadding);
}
@media (max-width: 768px) {
  .footer-component .footer-content .contact-list {
    flex-direction: column;
  }
  .footer-component .footer-content .footer-logo {
    min-width: 200px;
    max-width: 443px;
    width: auto;
  }
}
.back-to-top {
  width: var(--MediumPadding);
  height: var(--MediumPadding);
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 0.75rem;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, var(--SmoothTransition);
}
.back-to-top.visible {
  opacity: 1;
}
.back-to-top i {
  font-size: 25px;
  align-self: center;
}
.back-to-top:hover {
  background-color: var(--headingColorLight);
}
@media (max-width: 492px) {
  .back-to-top {
    height: var(--largeFontSize);
    width: var(--largeFontSize);
  }
}

.welcome-message {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--backgroundTransparentBlue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  opacity: 0;
  transition: z-index 1s ease-out, opacity 0.5s ease-in-out;
  z-index: -1;
}
.welcome-message.active {
  opacity: 1;
  z-index: 1;
}

.initial-fade-in {
  opacity: 0;
  transition: opacity 0.75s ease-in;
}
.initial-fade-in.active {
  opacity: 1;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.fade-in.active {
  opacity: 1;
}

.home-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-page .blank-banner {
  height: 50px;
  background-color: var(--backgroundTransparentBlue);
}
.home-page .heading-section {
  width: 100%;
  height: 100%;
}
.home-page .heading-section .main-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--MediumPadding);
  flex-wrap: wrap;
  background-color: var(--backgroundTransparentBlue);
  padding: 6.5rem var(--LargePadding) 0 var(--LargePadding);
}
.home-page .heading-section .main-container .heading-section-left {
  text-align: center;
}
.home-page .heading-section .main-container .heading-section-left,
.home-page .heading-section .main-container .heading-section-right {
  min-width: 500px;
  flex: 1;
}
.home-page .heading-section .main-container .heading-section-left .heading-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--SmallPadding);
}
.home-page .heading-section .main-container .heading-section-left .heading-introduction p {
  line-height: 1.6;
  font-weight: 500;
  color: white;
}
.home-page .heading-section .main-container .heading-section-left .heading-introduction .image {
  width: 443px;
  min-width: 443px;
  display: flex;
  justify-content: center;
}
.home-page .heading-section .main-container .heading-section-left .heading-introduction img {
  width: 100%;
}
.home-page .services-section {
  height: 100%;
  padding: var(--LargePadding);
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-page .services-section .service-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-page .services-section .service-container h1 {
  color: var(--headingColorLight);
  text-align: center;
}
.home-page .services-section .service-container p {
  max-width: 1100px;
  text-align: center;
  line-height: 1.6;
  font-weight: 500;
  padding: var(--MediumPadding);
  padding-top: var(--halfSmallPadding);
}
.home-page .services-section .service-container .service-grid-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: var(--SmallPadding);
}
.home-page .services-section .service-container .service-grid-container .service-grid-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border-radius: var(--RoundBorder);
  padding: var(--SmallPadding);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.home-page .services-section .service-container .service-grid-container .service-grid-card .service-icon {
  font-size: var(--iconFontSize);
  color: var(--headingColorLight);
}
.home-page .services-section .service-container .service-grid-container .service-grid-card .service-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-page .services-section .service-container .service-grid-container .service-grid-card .service-details .service-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--SmallPadding);
  gap: var(--SmallPadding);
}
.home-page .introduction-section {
  height: 100%;
  padding: var(--LargePadding);
  display: flex;
  align-items: center;
  background-color: white;
}
.home-page .introduction-section .content-container .content-block {
  display: flex;
  gap: var(--LargePadding);
  flex-wrap: wrap-reverse;
}
.home-page .introduction-section .content-container .content-block .text {
  display: flex;
  gap: var(--SmallPadding);
  flex-direction: column;
  justify-content: space-around;
  flex: 2;
  border-radius: var(--RoundBorder);
  min-width: 400px;
}
.home-page .introduction-section .content-container .content-block .text .introduction,
.home-page .introduction-section .content-container .content-block .text .highlights {
  display: flex;
  flex-direction: column;
  gap: var(--halfSmallPadding);
}
.home-page .introduction-section .content-container .content-block .text .highlights .text-button {
  display: flex;
  flex-direction: column;
  gap: var(--MediumPadding);
}
.home-page .introduction-section .content-container .content-block .text h2 {
  color: var(--headingColorLight);
}
.home-page .introduction-section .content-container .content-block .text .highlights ul,
.home-page .introduction-section .content-container .content-block .text .introduction p {
  line-height: 1.6;
  font-weight: 500;
}
.home-page .introduction-section .content-container .content-block .text .button-container {
  display: flex;
  justify-content: center;
}
.home-page .introduction-section .content-container .content-block .who-we-are-images {
  height: auto;
  flex: 3;
  justify-content: center;
  display: grid;
  border-radius: var(--RoundBorder);
  grid-template-columns: repeat(3, minmax(200px, 300px));
  gap: var(--SmallPadding);
  min-width: 600px;
}
.home-page .introduction-section .content-container .content-block .who-we-are-images .grid-item {
  justify-content: center;
  width: 100%;
  height: 100%;
}
.home-page .introduction-section .content-container .content-block .who-we-are-images .grid-item img {
  width: 100%;
  height: 100%;
  border-radius: var(--RoundBorder);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.home-page .introduction-section .content-container .content-block .who-we-are-images .grid-item img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.home-page .stats-section .main-container {
  position: relative;
}
.home-page .stats-section .main-container .stats-text {
  height: 400px;
  background-color: var(--backgroundTransparentBlue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}
.home-page .stats-section .main-container .stats-text h1 {
  padding-bottom: var(--halfSmallPadding);
}
.home-page .stats-section .main-container .stats-text p {
  line-height: 1.6;
  font-weight: 500;
}
.home-page .stats-section .main-container .stats-container div {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: var(--backgroundTransparentBlue);
  position: relative;
}
.home-page .stats-section .main-container .stats-container div ul {
  position: absolute;
  background-color: var(--backgroundColor);
  bottom: 0;
  height: 175px;
  width: 90%;
  max-width: 1250px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  border-radius: 0.3rem 0.3rem 0 0;
}
.home-page .stats-section .main-container .stats-container div ul .stats-card {
  flex: 1;
  border-left: 2px dashed lightgray;
}
.home-page .stats-section .main-container .stats-container div ul .stats-card:first-child {
  border-left: none;
}
.home-page .stats-section .main-container .stats-container div ul .stats-card h2 {
  font-size: var(--extraLargeFontSize);
  color: var(--headingColorLight);
}
.home-page .stats-section .main-container .stats-container div ul .stats-card p {
  padding-top: var(--halfSmallPadding);
  font-weight: 700;
}
.home-page .steps-section {
  height: 100%;
  background-color: var(--backgroundColor);
  padding: var(--LargePadding);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home-page .steps-section .main-container h1 {
  text-align: center;
  color: var(--headingColorLight);
}
.home-page .steps-section .main-container p {
  line-height: 1.6;
  font-weight: 500;
  padding-bottom: var(--MediumPadding);
  text-align: center;
}
.home-page .steps-section .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page .steps-section .main-container .steps-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: var(--SmallPadding);
}
.home-page .steps-section .main-container .steps-container .step {
  position: relative;
  flex: 1;
  padding: var(--LargePadding) var(--MediumPadding);
  padding-top: var(--SmallPadding);
  background-color: white;
  border-radius: var(--RoundBorder);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.home-page .steps-section .main-container .steps-container .step .step-number {
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--smallestFontSize);
  font-weight: 700;
  background-color: var(--headingColorLight);
  color: white;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
}
.home-page .steps-section .main-container .steps-container .step .icon {
  font-size: var(--smallerIconSize);
  padding: var(--SmallPadding);
  display: inline-block;
}
.home-page .steps-section .main-container .steps-container h2 {
  color: var(--headingColorLight);
  padding-bottom: var(--halfSmallPadding);
}
.home-page .steps-section .main-container .steps-container p {
  line-height: 1.6;
  font-weight: 500;
  padding: 0 0 var(--SmallPadding) 0;
}
.home-page .steps-section .main-container .steps-container .step .step-spacer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home-page .steps-section .main-container .steps-container .step button {
  display: flex;
  justify-content: center;
}
.home-page .work-preview-section .main-container {
  background-color: white;
  width: 100%;
  padding: var(--MediumPadding);
  display: flex;
  flex-direction: column;
}
.home-page .work-preview-section .main-container h1 {
  text-align: center;
  color: var(--headingColorLight);
  padding-bottom: var(--halfSmallPadding);
}
.home-page .work-preview-section .main-container p {
  line-height: 1.6;
  font-weight: 500;
  padding-bottom: var(--MediumPadding);
  text-align: center;
}
.home-page .work-preview-section .main-container .work-preview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--SmallPadding);
}
.home-page .work-preview-section .main-container .work-preview-container .video-wrapper {
  flex: 1;
  min-width: 12.5rem;
}
.home-page .work-preview-section .main-container .work-preview-container .video-wrapper .video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.home-page .cta-section .main-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: var(--backgroundTransparentBlue);
  padding: var(--LargePadding);
  gap: var(--LargePadding);
}
.home-page .cta-section .main-container .cta-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--LargePadding);
  flex: 1;
  width: 100%;
  min-width: 40%;
  color: white;
}
.home-page .cta-section .main-container .cta-text .cta-header p {
  line-height: 1.6;
  font-weight: 500;
  padding: var(--halfSmallPadding) 0 0 0;
}
.home-page .cta-section .main-container .cta-text .cta-contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--SmallPadding);
}
.home-page .cta-section .main-container .cta-text .cta-contact li div span:first-child {
  display: flex;
  gap: var(--halfSmallPadding);
}
.home-page .cta-section .main-container .cta-text .cta-contact li {
  display: flex;
  gap: var(--SmallPadding);
}
.home-page .cta-section .main-container .cta-text .cta-contact .phone-hours {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--SmallPadding);
}
.home-page .cta-section .main-container .cta-text .cta-contact .open-hours {
  gap: 0.3rem;
}
.home-page .cta-section .main-container .cta-text .cta-contact li .open-hours {
  display: flex;
  flex-wrap: wrap;
}
.home-page .cta-section .main-container .cta-text .cta-contact .phone-hours li:first-child,
.home-page .cta-section .main-container .cta-text .cta-contact > li:last-child {
  cursor: pointer;
}
.home-page .cta-section .main-container .cta-text .cta-contact li p {
  display: flex;
  gap: var(--halfSmallPadding);
}
.home-page .cta-section .main-container .cta-text .cta-contact li h3.email-address {
  max-width: 100%;
  word-wrap: break-word;
  text-align: left;
}
.home-page .cta-section .main-container .cta-text .cta-contact .fa-icon {
  font-size: var(--smallestFontSize);
}
.home-page .cta-section .main-container .cta-text .cta-contact li h3,
.home-page .cta-section .main-container .cta-text .cta-contact li .fa-icon {
  transition: color 0.3s ease;
}
.home-page .cta-section .main-container .cta-text .cta-contact li:nth-child(1):hover h3,
.home-page .cta-section .main-container .cta-text .cta-contact li:nth-child(1):hover .fa-icon,
.home-page .cta-section .main-container .cta-text .cta-contact > li:last-child:hover h3,
.home-page .cta-section .main-container .cta-text .cta-contact > li:last-child:hover .fa-icon {
  color: var(--headingColorLight);
}
.home-page .cta-section .main-container .cta-text .cta-contact li:nth-child(1) p,
.home-page .cta-section .main-container .cta-text .cta-contact > li:last-child p {
  list-style-type: none;
  text-decoration: none;
  position: relative;
}
.home-page .cta-section .main-container .cta-text .cta-contact li:nth-child(1) p::after,
.home-page .cta-section .main-container .cta-text .cta-contact > li:last-child p::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.home-page .cta-section .main-container .cta-text .cta-contact li:nth-child(1):hover p::after {
  width: 100%;
  background-color: var(--headingColorLight);
}
.home-page .cta-section .main-container .cta-text .cta-contact > li:last-child:hover p::after {
  width: 100%;
  background-color: var(--headingColorLight);
}
.home-page .cta-section .main-container .cta-form {
  flex: 1;
  min-width: 450px;
}
@media (max-width: 768px) {
  .home-page .heading-section .main-container {
    flex-direction: column;
  }
  .home-page .heading-section .main-container .heading-section-right,
  .home-page .heading-section .main-container .heading-section-left {
    min-width: auto;
  }
  .home-page .heading-section .main-container .heading-section-left .heading-introduction .image {
    min-width: 200px;
    max-width: 443px;
    width: auto;
  }
  .home-page .introduction-section .content-container .content-block .text {
    min-width: initial;
    padding: var(--MediumPadding);
    text-align: center;
  }
  .home-page .introduction-section {
    padding: 0 0 var(--LargePadding) 0;
  }
  .home-page .introduction-section .content-container .content-block .text {
    display: flex;
    flex-direction: column;
  }
  .home-page .introduction-section .content-container .content-block .text ul {
    list-style-type: none;
  }
  .home-page .introduction-section .content-container .content-block {
    gap: var(--MediumPadding);
  }
  .home-page .introduction-section .content-container .content-block .who-we-are-images {
    padding: 0 var(--SmallPadding);
    min-width: 400px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  }
  .home-page .stats-section .main-container .stats-text {
    height: auto;
    padding: var(--MediumPadding);
  }
  .home-page .stats-section .main-container .stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundTransparentBlue);
    padding-bottom: var(--MediumPadding);
  }
  .home-page .stats-section .main-container .stats-container div {
    position: initial;
    height: auto;
    width: 90%;
    background-color: white;
    border-radius: 0.3rem;
    padding: var(--SmallPadding);
  }
  .home-page .stats-section .main-container .stats-container div ul {
    width: auto;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    position: initial;
    justify-content: center;
    align-items: center;
    gap: var(--SmallPadding);
  }
  .home-page .stats-section .main-container .stats-container div ul .stats-card {
    border-left: none;
    padding: var(--SmallPadding);
  }
  .home-page .cta-section .main-container {
    gap: var(--MediumPadding);
  }
  .home-page .cta-section .main-container .cta-form {
    min-width: 350px;
  }
  .home-page .cta-section .main-container .cta-text {
    text-align: center;
    gap: var(--MediumPadding);
  }
}
@media (max-width: 492px) {
  .home-page .heading-section .main-container {
    padding: 6.5rem var(--SmallPadding) 0 var(--SmallPadding);
  }
  .home-page .services-section {
    padding: var(--LargePadding) var(--SmallPadding) var(--LargePadding) var(--SmallPadding);
  }
  .home-page .services-section .service-container p {
    padding: var(--halfSmallPadding) 0 var(--MediumPadding) 0;
  }
  .home-page .introduction-section .content-container .content-block .who-we-are-images {
    min-width: initial;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
  }
  .home-page .introduction-section .content-container .content-block .text {
    padding: var(--LargePadding) var(--SmallPadding) var(--LargePadding) var(--SmallPadding);
    padding-bottom: 0;
  }
  .home-page .steps-section {
    padding: var(--LargePadding) var(--SmallPadding) var(--LargePadding) var(--SmallPadding);
  }
  .home-page .steps-section .main-container .steps-container .step {
    padding: var(--halfSmallPadding);
  }
  .home-page .work-preview-section .main-container {
    padding: var(--LargePadding) var(--SmallPadding) var(--LargePadding) var(--SmallPadding);
  }
  .home-page .cta-section .main-container {
    padding: var(--LargePadding) var(--SmallPadding) var(--LargePadding) var(--SmallPadding);
  }
  .home-page .cta-section .main-container .cta-form {
    min-width: 250px;
  }
}

.services-page {
  height: 100%;
  width: 100%;
}
.services-page .heading-section {
  background: var(--backgroundTransparentBlue);
  color: white;
  text-align: center;
}
.services-page .heading-section .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6.5rem var(--LargePadding) 0 var(--LargePadding);
}
.services-page .heading-section .main-container .image {
  width: 443px;
  min-width: 443px;
  display: flex;
  justify-content: center;
}
.services-page .heading-section .main-container img {
  width: 100%;
}
.services-page .heading-section .main-container h1 {
  padding: var(--SmallPadding) 0 var(--halfSmallPadding) 0;
}
.services-page .heading-section .main-container p {
  line-height: 1.6;
  font-weight: 500;
}
.services-page .service-section {
  background-color: var(--backgroundTransparentBlue);
  padding: var(--LargePadding);
}
.services-page .service-section .main-container {
  display: flex;
  flex-direction: column;
  gap: var(--LargePadding);
}
.services-page .service-section .main-container .service-card-container .service-card {
  background-color: white;
  border-radius: var(--RoundBorder);
  padding: var(--MediumPadding);
  display: flex;
  flex-direction: column;
}
.services-page .service-section .main-container .service-card-container .service-card .header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--MediumPadding);
  padding-bottom: var(--SmallPadding);
  flex-wrap: wrap;
}
.services-page .service-section .main-container .service-card-container .service-card .header-main .text-and-button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex: 9;
}
.services-page .service-section .main-container .service-card-container .service-card .header-main .text-and-button .header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.services-page .service-section .main-container .service-card-container .service-card .service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--iconFontSize);
  color: var(--headingColorLight);
  flex: 1;
}
.services-page .service-section .main-container .service-card-container .service-card h1 {
  color: var(--headingColorLight);
  padding: 0 0 var(--halfSmallPadding) 0;
}
.services-page .service-section .main-container .service-card-container .service-card p {
  line-height: 1.6;
  font-weight: 500;
}
.services-page .service-section .main-container .service-card-container .service-card .service-benefits {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: var(--SmallPadding) 0;
  gap: var(--SmallPadding);
  padding-bottom: var(--MediumPadding);
}
.services-page .service-section .main-container .service-card-container .service-card .service-benefits .benefit {
  flex: 1;
  min-width: 200px;
}
.services-page .service-section .main-container .service-card-container .service-card .service-benefits .benefit h2 {
  color: var(--headingColorLight);
  padding-bottom: var(--halfSmallPadding);
}
.services-page .service-section .main-container .service-card-container .service-card .benefits-divider {
  width: 100%;
  border-bottom: 1px solid white;
}
.services-page .service-section .main-container .service-card-container .service-card .benefits-divider:hover {
  background-color: var(--hoverColor);
}
.services-page .service-section .main-container .service-card-container .service-images {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--SmallPadding);
}
.services-page .service-section .main-container .service-card-container .service-images .service-image {
  width: 12.5rem;
  flex: 1;
  justify-content: center;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.services-page .service-section .main-container .service-card-container .service-images .service-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.services-page .service-section .main-container .service-card-container .service-images img {
  height: 100%;
  width: 100%;
}
.services-page .service-section .main-container .service-card-container .service-card .service-buttons {
  width: 100%;
  padding-top: var(--halfSmallPadding);
  display: flex;
}
.services-page .service-section .main-container .service-card-container .service-card .service-buttons button {
  border: solid 3px var(--headingColorLight);
}
.services-page .service-section .main-container .service-card-container .service-card .service-buttons button:hover {
  background-color: var(--headingColorLight);
}
@media (max-width: 768px) {
  .services-page .heading-section .main-container .image {
    min-width: 200px;
    max-width: 443px;
    width: auto;
  }
  .services-page .service-section {
    text-align: center;
  }
  .services-page .service-section .main-container .service-card-container .service-card .header-main .text-and-button,
  .services-page .service-section .main-container .service-card-container .service-card .service-buttons {
    justify-content: center;
  }
}
@media (max-width: 492px) {
  .services-page .heading-section .main-container {
    padding: 6.5rem var(--SmallPadding) 0 var(--SmallPadding);
  }
  .services-page .service-section {
    padding: var(--LargePadding) var(--SmallPadding) var(--LargePadding) var(--SmallPadding);
  }
  .services-page .service-section .main-container .service-card-container .service-card {
    padding: var(--MediumPadding) var(--SmallPadding) var(--MediumPadding) var(--SmallPadding);
  }
  .services-page .service-section .main-container .service-card-container .service-card .service-buttons button {
    width: 200px;
  }
}

.about-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--LargePadding);
  background-color: var(--backgroundTransparentBlue);
}
.about-page .header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.about-page .header-section .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.5rem var(--LargePadding) 0 var(--LargePadding);
  flex-direction: column;
  gap: var(--SmallPadding);
}
.about-page .header-section .main-container .image {
  width: 443px;
  min-width: 443px;
  display: flex;
  justify-content: center;
}
.about-page .header-section .main-container img {
  width: 100%;
}
.about-page .header-section .main-container .benefit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--SmallPadding);
}
.about-page .header-section .main-container .benefit-container .benefit {
  flex: 1;
  min-width: 300px;
  padding: var(--SmallPadding);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about-page .header-section .main-container .benefit-container .benefit h1 {
  padding: var(--halfSmallPadding) 0;
}
.about-page .header-section .main-container .benefit-container .benefit p {
  line-height: 1.6;
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: var(--halfSmallPadding);
}
.about-page .header-section .main-container .benefit-container .benefit .benefit-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 6rem;
}
.about-page .vision-section {
  width: 100%;
  height: 100%;
}
.about-page .vision-section img {
  height: 100%;
  width: 100%;
  border-radius: var(--RoundBorder);
}
.about-page .vision-section img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.about-page .vision-section .blurhash-about {
  width: 100%;
  height: 100%;
}
.about-page .vision-section .blurhash-vertical {
  width: 100%;
  height: 100%;
}
.about-page .vision-section .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  background-color: white;
  padding: var(--LargePadding);
  gap: var(--MediumPadding);
}
.about-page .vision-section .main-container .workImagesContainer {
  display: flex;
  flex: 2;
  gap: var(--halfSmallPadding);
  min-width: 700px;
}
.about-page .vision-section .main-container .workImagesContainer .wrapper-1 {
  display: flex;
  flex: 1;
}
.about-page .vision-section .main-container .workImagesContainer .wrapper-1 .group-0 {
  flex: 1;
}
.about-page .vision-section .main-container .workImagesContainer .wrapper-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--halfSmallPadding);
}
.about-page .vision-section .main-container .workImagesContainer .wrapper-2 .group-1 {
  display: flex;
  flex: 1;
  width: calc(50% - 0.34rem);
  gap: var(--halfSmallPadding);
}
.about-page .vision-section .main-container .workImagesContainer .wrapper-2 .group-1.blurhash-about {
  width: 100%;
  height: 100%;
}
.about-page .vision-section .main-container .workImagesContainer .wrapper-2 .group-2 {
  flex: 1;
}
.about-page .vision-section .main-container .vision-text {
  min-width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--SmallPadding);
}
.about-page .vision-section .main-container .vision-text h1 {
  padding-bottom: var(--halfSmallPadding);
  color: var(--headingColorLight);
}
.about-page .vision-section .main-container .vision-text p {
  line-height: 1.6;
  font-weight: 500;
}
.about-page .testimonial-section {
  width: 100%;
  height: 100%;
}
.about-page .testimonial-section .main-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--halfSmallPadding);
  color: white;
  background-color: rgba(23, 139, 246, 0.6);
  padding: var(--MediumPadding);
}
.about-page .testimonial-section .main-container h1 {
  padding-bottom: var(--SmallPadding);
}
.about-page .testimonial-section .main-container .benefits-divider {
  width: 100%;
  border-bottom: 1px solid white;
}
.about-page .testimonial-section .main-container .testimonial-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--MediumPadding);
}
.about-page .testimonial-section .main-container .testimonial-list .testimonial-item {
  display: flex;
  flex-direction: column;
  gap: var(--SmallPadding);
  flex: 1;
  min-width: 300px;
  padding: var(--SmallPadding);
}
.about-page .testimonial-section .main-container .testimonial-list .testimonial-item p {
  font-size: var(--SmallPadding);
}
.about-page .testimonial-section .main-container .testimonial-list .testimonial-item .testimonial-author {
  text-align: end;
}
@media (max-width: 768px) {
  .about-page .header-section .main-container .image {
    min-width: 200px;
    max-width: 443px;
    width: auto;
  }
  .about-page .vision-section .blurhash-vertical {
    height: 300px;
  }
  .about-page .vision-section .main-container .vision-text {
    min-width: initial;
    text-align: center;
  }
  .about-page .vision-section .main-container .workImagesContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
  }
  .about-page .vision-section .main-container .workImagesContainer .wrapper-1,
  .about-page .vision-section .main-container .workImagesContainer .wrapper-2 {
    width: 100%;
  }
  .about-page .vision-section .main-container .workImagesContainer .wrapper-2 .group-1 {
    min-width: 250px;
    width: initial;
    flex-wrap: wrap;
  }
  .about-page .benefits-section .main-container {
    flex-direction: column;
    gap: var(--MediumPadding);
  }
}
@media (max-width: 492px) {
  .about-page .header-section .main-container {
    padding: 6.5rem var(--SmallPadding) 0 var(--SmallPadding);
  }
  .about-page .header-section .main-container .benefit-container .benefit .benefit-icon {
    font-size: 5rem;
  }
  .about-page .header-section .main-container .benefit-container .benefit {
    flex: initial;
    min-width: initial;
  }
  .about-page .vision-section .main-container {
    padding: var(--MediumPadding) var(--SmallPadding) var(--MediumPadding) var(--SmallPadding);
  }
  .about-page .testimonial-section .main-container .testimonial-list {
    flex-direction: column;
    gap: var(--SmallPadding);
  }
  .about-page .testimonial-section .main-container .testimonial-list .testimonial-item {
    gap: var(--halfSmallPadding);
    min-width: initial;
  }
}

.contact-page {
  width: 100%;
  height: 100%;
  background-color: var(--backgroundTransparentBlue);
}
.contact-page .form-section .main-container {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: var(--MediumPadding);
  padding: 6.5rem var(--LargePadding);
}
.contact-page .form-section .main-container .form-left {
  display: flex;
  flex: 1;
  min-width: 450px;
}
.contact-page .form-section .main-container .form-right {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  gap: var(--MediumPadding);
  flex-direction: column;
  color: white;
  min-width: 400px;
}
.contact-page .form-section .main-container .form-right p {
  line-height: 1.6;
  font-weight: 500;
}
.contact-page .form-section .main-container .form-right li.open-hours {
  display: flex;
  flex-wrap: wrap;
  gap: var(--SmallPadding);
  margin-bottom: 2.25rem;
}
.contact-page .form-section .main-container .form-right li.open-hours .time {
  display: flex;
  gap: var(--halfSmallPadding);
}
.contact-page .form-section .main-container .form-right .contact-list li.phone-location {
  flex-direction: column;
  gap: var(--halfSmallPadding);
}
.contact-page .form-section .main-container .form-right .contact-list {
  display: flex;
  flex-direction: column;
  gap: var(--halfSmallPadding);
  list-style: none;
}
.contact-page .form-section .main-container .form-right .contact-list li {
  display: flex;
  gap: var(--halfSmallPadding);
  transition: color 0.3s ease;
}
.contact-page .form-section .main-container .form-right .contact-list li.phone-location li:hover,
.contact-page .form-section .main-container .form-right .contact-list li.email:hover {
  color: var(--headingColorLight);
  cursor: pointer;
}
.contact-page .form-section .main-container .form-right .contact-list li .fa-icon {
  font-size: var(--mediumFontSize);
  cursor: pointer;
}
@media (max-width: 768px) {
  .contact-page .form-section .main-container {
    text-align: center;
  }
  .contact-page .form-section .main-container .form-left {
    min-width: initial;
  }
  .contact-page .form-section .main-container .form-right {
    min-width: 350px;
  }
  .contact-page .form-section .main-container .form-right .contact-list {
    align-items: center;
  }
  .contact-page .form-section .main-container .form-right li.open-hours {
    flex-direction: column;
  }
  .contact-page .form-section .main-container .form-right .contact-list li.email h3 {
    text-align: start;
    word-break: break-all;
  }
  .contact-page .form-section .main-container .form-right .contact-list li.phone-location {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media (max-width: 492px) {
  .contact-page .form-section .main-container {
    padding: 6.5rem var(--SmallPadding) 0 var(--SmallPadding);
    padding-bottom: var(--LargePadding);
  }
  .contact-page .form-section .main-container .form-right {
    min-width: 250px;
  }
}

/*# sourceMappingURL=main.css.map */
